<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <h1>Books</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Author</th>
        </thead>
        <tbody>
            <%for(let item of data){%>
            <tr>
                <td><%=item.id %></td>
                <td><%=item.name %></td>
                <td><%=item.author %></td>
            </tr>
            <%} %>
        </tbody>
    </table>
    
</body>
</html>